*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial Narrow', sans-serif;
    // font-family: "Greta Sans Condensed Bold","Greta Sans Bold",Arial,sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: $fc_gray_light;
}

nav li{
    display: inline-block;
    margin: 1rem;
}
.container{
    width: 1200px;
    margin: auto;
}
.d_flex{
    display: flex;
}

.btn {
    padding: 1rem;
    text-transform: uppercase;
}
.btn.btn_outline{
    border: 2px solid $dc_primary;
}