$dc_primary: #1E82F9;
$bg_dark: #1C1C1C;
$bg_gray: #303030;
$footer_icons: #797979;

$fc_gray90: #464646;
$fc_gray_light: #959595;
$fc_light: #ffff;

$fs_header: 1rem;
$fs_footer_link: .9rem;

$ends_height: 100px;